/* font-face */
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Light.eot');
    src: url('../fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Light.woff2') format('woff2'),
        url('../fonts/Montserrat-Light.woff') format('woff'),
        url('../fonts/Montserrat-Light.ttf') format('truetype'),
        url('../fonts/Montserrat-Light.svg#Montserrat-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.eot');
    src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/Montserrat-Regular.woff') format('woff'),
        url('../fonts/Montserrat-Regular.ttf') format('truetype'),
        url('../fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.eot');
    src: url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/Montserrat-Bold.woff') format('woff'),
        url('../fonts/Montserrat-Bold.ttf') format('truetype'),
        url('../fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.eot');
    src: url('../fonts/Inter-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter-Regular.woff2') format('woff2'),
        url('../fonts/Inter-Regular.woff') format('woff'),
        url('../fonts/Inter-Regular.ttf') format('truetype'),
        url('../fonts/Inter-Regular.svg#Inter-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Light.eot');
    src: url('../fonts/Inter-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter-Light.woff2') format('woff2'),
        url('../fonts/Inter-Light.woff') format('woff'),
        url('../fonts/Inter-Light.ttf') format('truetype'),
        url('../fonts/Inter-Light.svg#Inter-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Bold.eot');
    src: url('../fonts/Inter-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter-Bold.woff2') format('woff2'),
        url('../fonts/Inter-Bold.woff') format('woff'),
        url('../fonts/Inter-Bold.ttf') format('truetype'),
        url('../fonts/Inter-Bold.svg#Inter-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* Default Styles */
html {
    font-size: 20px;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #707070;
}

.container {
    width: 100%;
    max-width: 1600px;
}

h1, h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.25rem;
}

h4, h5, h6, p {
    font-size: 1rem;
}

a {
    color: #000;
    transition: all 0.3s ease;
}

a:hover {
    color: #5853F6;   
}

/* Button Style */
.solid-btn {
    background-color: #5854F7;
    padding: 20px 38px;
    border: 2px solid #5854F7;
    border-radius: 10px;
    font-size: 1rem;
    color:#fff;
}

.solid-btn:hover {
    background-color: #5854F700;
    padding: 20px 38px;
    border: 2px solid #5854F7;
    border-radius: 10px;
    font-size: 1rem;
    color:#5854F7;
}

.btn-outline {
    background-color: #5854F700;
    padding: 20px 38px;
    border: 2px solid #5854F7;
    border-radius: 10px;
    font-size: 1rem;
    color:#5854F7;
}

.btn-outline:hover {
    background-color: #5854F7;
    padding: 20px 38px;
    border: 2px solid #5854F7;
    border-radius: 10px;
    font-size: 1rem;
    color:#fff;
}

/* Navigation */
.site-header {
    padding: 35px 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.site-header .row {
    align-items: center;
}

.main-navigation ul {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.secondary-nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.main-navigation li:not(:last-child), 
.secondary-nav li:not(:last-child) {
    margin-right: 40px;
}

.main-navigation li a, .secondary-nav li a {
    text-decoration: none;
}

/* Circle Check */
.fa-circle-check {
    color: #E0DFF3;
}


/* Footer */
.site-footer {
    background-color: #E7EBFB;
    padding: 40px;
}

.site-footer .container {
    width: 100%;
    max-width: 900px;
}

.site-footer .footer-nav ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.site-footer .footer-nav li {
    list-style: none;
}

.site-footer .footer-nav li a{
    text-decoration: none;
    padding: 0 20px;
}

.site-footer .footer-location-info,
.site-footer .footer-contact-info {
    border-left: 2px solid #707070;
    padding-left: 20px;
}

/* Section: Banner */
.banner {
    padding: 150px 0 70px 0;
    background-color: #F5F6FF;
}

.banner__heading  {
    padding-right: 100px;
    color: #32375F;
    font-weight: bold;
}

.banner__heading > span {
    color: #5853F6;
}

.banner__desc {
    margin-bottom: 50px;
    padding-right: 280px;
}

.banner__cta a {
    text-decoration: none;
}

.banner__icon {
    margin-top: 150px;
}

.banner__icon .col-padding {
    padding-right: 100px;
}

.banner__icon .repeater__title {
    padding-left: 5px;
    font-family: 'Inter', sans-serif;
    font-size: 21;
    font-weight: bold;
    color: #BACEEC;
}

/* Section: Healthcare */

.healthcare {
    padding: 150px 0;
}

.healthcare .container .healthcare__image {
    position: relative;
}

.healthcare .container .healthcare__image img {
    position: inherit;
    z-index: 1;
}

.healthcare .container .under-image {
    position: relative;
    z-index: 1;
    margin-top: -80px;
    margin-left: 80px;
    padding: 20px;
    padding-right: 100px;
    width: 400px;
    background-color: #fff;
    border-left: 5px solid #615FE3;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgb(0 0 0 / 0.2);
}

.healthcare .container .under-image .container-heading {
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: #605EE1;
}

.healthcare .container .heading-title {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #4B4C5B;
}

.healthcare .container .heading-title::after {
    content: "";
    position: absolute;
    right: 20px;
    background-image: url('http://localhost/Medcare/wp-content/uploads/2022/10/Group-253.svg');
    width: 60px;
    height: 40px;
    border: 1px solid #DEDEDE;
    border-bottom: 0px;
    border-radius: 10px;
}

.healthcare .container .heading-title:nth-child(4):after {
    content: "";
    background-image: url('http://localhost/Medcare/wp-content/uploads/2022/10/Group-254.svg');
    border: 0;
}

.healthcare .container .under-image p {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #707070;
}

.healthcare .container .under-image p:not(:last-child) {
    border-bottom: 1px solid #DEDEDE;
    padding-bottom: 20px;
}

.healthcare .container .healthcare__image::before {
    content: "";
    position: absolute;
    z-index: 0;
    top: -80px;
    left: -80px;
    background-image: url('http://localhost/Medcare/wp-content/uploads/2022/10/Group-38-1.png');
    width: 100%;
    max-width: 200px;
    height: 100%;
    height: 200px;
}

.healthcare .container .healthcare__image::after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: -200px;
    right: 20px;
    background-image: url('http://localhost/Medcare/wp-content/uploads/2022/10/Group-236-1.png');
    width: 150px;
    height: 150px;
}

.healthcare__col-2--padding {
    padding-left: 50px;
}

.healthcare__heading {
    color: #32375F;
    font-weight: bold;
    padding-right: 100px;
}

.healthcare__heading span {
    color: #5853F6;
}

.healthcare__cta a {
    text-decoration: none;
}

.healthcare__list ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

.healthcare__list ul > li {
    font-weight: 700;
    margin-bottom: 30px;
    color: #32375F;
}

.healthcare__list ul > li::before {
    content: "\f058";
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900;
    padding-right: 10px;
    color: #E0DFF3;
}

/* Section: Plan */

.plan {
    position: relative;
    background-color: #F6F6FF;
    padding: 150px 0 150px 0;
}

.plan::before  {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-image: url('http://localhost/Medcare/wp-content/uploads/2022/10/Group-251.png');
    background-repeat: no-repeat;
    width: 100%;
    max-width: 1400px;
    height: 100%;
    max-height: 100%;
}

.plan__inner {
    position: relative;
    z-index: 1;
}

.plan .plan__heading,
.plan .plan__title {
    font-weight: 700;
    text-align: center;
    color: #33375E;
}

.plan .plan__title {
    color: #615FDD;
    width: 100%;
    max-width: 50%;
    margin: 0 auto;
    margin-bottom: 120px;
}

.plan .plan__price {
    padding-bottom: 20px;
    border-bottom: 1px solid #33375E;
    font-weight: 700;
    text-align: center;
    color: #33375E;   
}

.plan ul {
    margin: 0;
    padding: 30px;
}

.plan .plan__section .plan__box ul li {
    color: #32375F;
    margin-bottom: 30px;
    list-style: none;
}

.plan .plan__section .plan__box ul > li::before {
    content: "\f058";
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900;
    padding-right: 10px;
    color: #E0DFF3;
}

.plan .plan__section .plan__col .plan__box {
    position: relative;
    width: 100%;
    max-width: 426px;
    margin: 0 auto;
    padding: 50px 20px;
    background-color: #fff;
    border-radius: 30px;
}

.plan .plan__section .plan__col:nth-child(2) .plan__box ul li:nth-child(n+3) {
    opacity: 50%;
}

.plan .plan__section .plan__col:nth-child(3) .plan__box {
    padding: 70px 20px;
    background-color: #33375E;
}

.plan .plan__section .plan__col:nth-child(3) .plan__box .plan__heading,
.plan .plan__section .plan__col:nth-child(3) .plan__box .plan__price,
.plan .plan__section .plan__col:nth-child(3) .plan__box ul li  {
    color: #fff;
}

.plan .plan__section .plan__col:nth-child(3) .plan__box .plan__price {
    border-color: #fff;
}

.plan .plan__section .plan__col:nth-child(3) .plan__box ul li:nth-child(n+4) {
    opacity: 50%;
}

.plan .plan__section .plan__col:nth-child(3) .plan__box::before {
    content: "Recommended";
    position: absolute;
    margin:0 auto;
    top: -20px;
    left: 0;
    right: 0;
    display: block;
    padding: 5px;
    width: 60%;
    border: 2px solid #FFA0C2;
    border-radius: 100px;
    background-color: #FFA0C2;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

.plan .plan__section .plan__col:nth-child(2) .plan__inner::before,
.plan .plan__section .plan__col:nth-child(3) .plan__inner::before,
.plan .plan__section .plan__col:nth-child(4) .plan__inner::before {
    content: "";
    position: absolute;
    z-index: 0;
    background-image: url('http://localhost/Medcare/wp-content/uploads/2022/10/Group-38-1.png');
    width: 100%;
    max-width: 200px;
    height: 100%;
    height: 200px;
}

.plan .plan__section .plan__col:nth-child(2) .plan__inner::before {
    bottom: -75px;
    left: -50px;
}

.plan .plan__section .plan__col:nth-child(3) .plan__inner::before {
    top: -75px;
    left: -50px;
}

.plan .plan__section .plan__col:nth-child(4) .plan__inner::before {
    top: 0;
    bottom: 0;
    right: -50px;
    margin: auto 0;
}

/* Section: Statement */
.statement {
    padding-bottom: 100px;
}

.statement .column-wrapper {
    width: 100%;
    max-width: 78%;
    margin: 0 auto;
    text-align: center;
}

.statement .column-wrapper h2,
.statement .column-wrapper p {
    font-family: 'Inter', sans-serif;
}

.statement .column-wrapper h2 {
    font-weight: 700;
    color: #32375F;
    margin-bottom: 30px;
}

.statement .column-wrapper p {
    font-weight: 400;
    color: #707070;
}

/* Section: Values */
.values {
    padding-bottom: 100px;
}

.values .values-title {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #32375F;
}

.values .values-description {
    padding: 10px;
    padding-right: 50px;
    font-family: 'Inter',sans-serif ;
}

.values .values-description p {
    padding-bottom: 30px;
}

.values .values-description ul {
    margin: 0;
    padding: 0;
    padding-left: 20px;
}

.values .values-description ul > li {
    padding-bottom: 20px;
}

/* Section: Team */
.team {
    padding-bottom: 150px;
}

.team .team__heading,
.team .team__name,
.team .team__title {
    font-family: 'Inter', sans-serif;
    color: #32375F;
}

.team .team__heading,
.team .team__name {
    font-weight: 700;
    text-align: center;
}

.team .team__name {
    font-size: 30px;
}

.team .team__title {
    font-size: 25px;
    font-weight: 400;
    text-align: center;
}

.team .team__image {
    border-radius: 50%;
    overflow: hidden;
    width: 300px;
    height: 300px;
}